In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Object Creation

In [5]:
# Creando un Seriespaso pasando una lista de valores, permitiendo que los pandas creen un índice entero predeterminado:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
# Crear una DataFramepasando una matriz NumPy, con un índice de fecha y hora y columnas etiquetadas:
dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01 -0.473708  1.918940 -0.151447 -0.107362
2013-01-02 -0.575983  0.161918 -0.202423  0.504954
2013-01-03 -1.412156  0.745110 -1.764548 -0.540924
2013-01-04  0.689963 -0.245603  0.025180 -0.326517
2013-01-05 -0.123245 -1.629463  0.138207 -0.234231
2013-01-06 -0.516137  0.503304  0.339741 -0.872595

In [13]:
df2 = pd.DataFrame({ 'A' : 1., 'B' : pd.Timestamp('20130102'), 'C' : pd.Series(1,index=list(range(4)),dtype='float32'), 'D' : np.array([3] * 4,dtype='int32'), 'E' : pd.Categorical(["test","train","test","train"]), 'F' : 'foo' })

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object